body{
    background-image: url("https://img5.goodfon.ru/wallpaper/nbig/b/b3/lago-di-braies-lake-braies-pragser-wildsee-dolomites-south-t.jpg");
}


.mealsCard{
    display: flex;
    justify-content: space-around;
    padding: 15px 15px;
}
a{
    text-decoration: none;
    color:goldenrod
}
.Burger{
    margin-left: 50px;
    padding: 30px 20px;
   

    display: flex;

   
}

.img{
    
    width: 500px;
    height: 400px;
    border-radius: 30px;
}
.text{
    
    text-align: center;
    color: black;
    margin: 40px 30px;

}
.Table {
    margin: 50px 50px;
  }
  
.Menu{
    margin: auto ;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

.div-text{
    margin:auto;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255, 0.5);
}
.Home-text h3{
    border-radius: 20px;
    padding-top: 10px;
    text-align: center;
    width: 65%;
    height: 100px;
    background-color: rgb(255, 255, 255, 0.5)
}
h1{
    color: goldenrod
}